/* overall body style */
html, body 
{
  height: 100%;
  width: 100%;
  /* creates the gradient background */
  background-image: linear-gradient(140deg, #6F1D40 45%, #BC70A4 75%);
}


/* header styles */
header
{
  background-color: purple;
}
.row
{
  height:50%;
}

h1
{

  font-size: 300%;
  font-family: Fantasy,Copperplate;
}

/* nav style */
.nav-tabs .nav-item .nav-link {
  
  color: #FFF;
  background-color: purple;
}

.nav-tabs .nav-item .nav-link.active {
  color: #0080FF;
  background-color: #6F1D40;
  border-color: #6F1D40;
}

/* general tag styles */
.center {
  display: block;
  margin-left: auto;
  width: 100%;
  height: 100%;
}
